h1{
  text-align: center;
  text-decoration: underline;
}
p{
  position: absolute;
  top: 4rem;
  left: 3rem;
  display: block;
  font-size: 2rem;
}

.rounds {
  position: absolute;
  top: 12rem;
  left: 2rem;
  display: block;
  font-size: 1rem;
}
.score {
  position: absolute;
  top: 14rem;
  left: 2rem;
}

.buttons {
  position: absolute;
  top: 12rem;
  left: 20rem;
}

button{
  width: 15rem;
  height: 5rem;
}

.status{
  position: absolute;
  top: 20rem;
  left: 23rem;
}
